@tailwind base;
@tailwind components;
@tailwind utilities;


input,
button {
    outline: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out" !important;
    -webkit-transition-delay: 9999s !important;
}


.chakra-alert__title {
    font-weight: 400 !important;
}

.overlay {
    box-shadow: inset 0 0 0 800px rgba(0, 0, 0, 0.6) !important;
}